<div>
  <div class="side-profile flex gap-3 my-4 items-center">
    <div class="w-[60px] h-[60px] bg-white rounded-full overflow-hidden border-2 border-thrid">
      <img id="sidebar-profile-picture" src="/img/user-img.png" alt="profile-picture" class="w-full h-full object-cover">
    </div>
    <div class="">
      <p class="font-bold text-sm text-white">Admin STK</p>
      <p class="font-normal text-sm text-white">Super Admin</p>
    </div>
  </div>
  <div class="side-list flex flex-col mt-10 text-sm relative">
    <a id="side-dashboard" href="/mega/dashboard" class="py-3 px-5 text-white">Dashboard</a>
    <a id="side-devisi" href="/mega/devisi" class="py-3 px-5 text-white">Devisi</a>
    <a id="side-karyawan" href="/mega/karyawan" class="py-3 px-5 text-white">Karyawan</a>
    <a id="side-absensi" href="/mega/absensi" class="py-3 px-5 text-white">Absensi</a>
  </div>
</div>