<div>
  <div class="side-profile flex gap-3 my-4 items-center">
    <div class="w-[60px] h-[60px] bg-white rounded-full overflow-hidden border-2 border-[#287E5D]">
      <img id="sidebar-profile-picture" src="/img/user-img.png" alt="profile-picture" class="w-full h-full object-cover">
    </div>
    <div class="">
      <p id="user-name" class="font-bold text-sm text-white"></p>
      <p id="user-devisi" class="font-normal text-sm text-white"></p>
    </div>
  </div>
  <div class="side-list flex flex-col mt-10 text-sm relative">
    <a id="side-dashboard" href="/dashboard" class="py-3 px-5 text-white">Dashboard</a>
    <a id="side-profile" href="/profile" class="py-3 px-5 text-white">Profile</a>
    <a id="side-absensi" href="/absensi" class="py-3 px-5 text-white">Absensi</a>
  </div>
</div>