<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/MegaNavbar'); -%>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/MegaSidebar'); -%>
    <section id="sekolah-page" class="h-full bg-white rounded-tl-3xl p-8">
      <div id="bg-table-sekolah" class="min-h-screen shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-white">
        <p class="text-main font-bold">Selamat Datang Super Admin</p>
        <p class="text-main font-extrabold text-[40px]">Applikasi Absensi Online</p>
        <p class="text-main text-sm mt-10">Applikasi absensi online berbasis website PT.Samudra Tirta Kencana</p>
      </div>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/MEGA/MegaDashboard.js"></script>